doctype html
html
  head
    title='Pick it up!'
    link(href='css/index.css',type='text/css',rel='stylesheet')
  body
    button.start(type='button') 开始游戏
    section#game
      i(data-game-player="player").player
      i(data-game-score).score
      i(data-game-timer).timer
    script(src='js/entry.js')