doctype html
html
  head
    title='Pick it up!'
    link(href='css/index.css',type='text/css',rel='stylesheet')
  body
    button.start(type='button') Game Start!
    section#game
    script(src='js/entry.js')
