doctype html
html
  head
    title='LT-IE-9'
    script(src='https://raw.githubusercontent.com/shinnn/lt-ie-9/master/lt-ie-9.js')
    link(href='/css/ltie.css',type='text/css',rel='stylesheet')
  body
    section
      i blue
    i red